/*.7z
/*.rar
/*.zip
/*.tar.gz
/*.exe
cdtweaks/languages/schinese_prompts/prompts-osx.tra
cdtweaks/languages/schinese_prompts/prompts-osx.tra
cdtweaks/languages/schinese_prompts/prompts-unix.tra
cdtweaks/languages/schinese_prompts/prompts-win32.tra
cdtweaks/languages/schinese_prompts/setup-osx.tra
cdtweaks/languages/schinese_prompts/setup-unix.tra
